* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#canvas-container {
    width: 100vw;
    height: 100vh;
}
.details-panel{
    z-index: 3;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 340px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.controls{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
hr{
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.input-row{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.control-group{
    display: flex;
    align-items: center;
    gap: 12px;
}
.control-group.horizontal{
    justify-content: space-between;

}
.temperature-control{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.manual-input{
    width: 72px;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(170, 170, 170);
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.slider-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: rgb(238, 238, 238);
    border-radius: 0px;
    outline: none;
    margin: 15px 0 10px 0;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 25px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 18px;
    height: 25px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
}
.sliderticks{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.sliderticks span{
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 1px;
}
.AvgSpeed{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.properties{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.warning-panel{
    z-index: 10;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
    max-height: 40vh;
    background-color: rgba(255, 75, 75, 0.817);
    color: white;
    display: flex;
    flex-direction: column;
}
.warning-panel button{
    cursor: pointer;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius:  8px;
    background-color: white;
    color: #dc2626;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.2s ease;
}
.warning-panel button:hover{
    background-color: #f3f3f3;
    transform: translateY(-2px);
}
.graphs-panel{
    z-index: 3;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 360px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
canvas{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: block;
}
.keGraph, .speedGraph{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-controls-panel{
    z-index: 3;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 15px 25px;
     overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.button-row button{
    height: 50px;
    width: auto;
    min-width: 60px;
    padding: 0 15px;
    border-radius: 25px;
    font-weight: bold;
    font-size:  14px;
    background: rgba(255, 216, 98, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: transform 0.1s, background 0.2s;
}
.buttons-row button:hover{
    background: rgba(255, 216, 98, 1);
    transform: scale(1.05);
}
.gravityPull, .effusionHole{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.gravityPull input[type="checkbox"], .effusionHole input[type="checkbox"]{
    transform: scale(2);
}
.value-texts{
    background: white;
    border: 3px solid grey;
    color: black;
    padding: 3px 5px;
}
.unit-select{
    background: white;
    padding: 1px;
    border: 2px solid grey;
    transform: scale(1.5);
    font-weight: bold;
}
.changeScene{
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border-color: white;
    font-size: 14px;
    padding: 5px 5px;
    background: rgba(255, 216, 98, 0.9);
}