* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#canvas-container {
    width: 100vw;
    height: 100vh;
}
.details-panel{
    z-index: 3;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 340px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.controls{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
hr{
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.input-row{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.control-group{
    display: flex;
    align-items: center;
    gap: 12px;
}
.control-group.horizontal{
    justify-content: space-between;

}
.temperature-control{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.manual-input{
    width: 60px;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(170, 170, 170);
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.slider-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: rgb(238, 238, 238);
    border-radius: 0px;
    outline: none;
    margin: 15px 0 10px 0;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 25px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 18px;
    height: 25px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
}
.sliderticks{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}