* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
#canvas-container {
    width: 100vw;
    height: 100vh;
}
.control-panel{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.slidercontainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 200px;
}
.slidercontainer label{
    font-size: 14px;
}
.slider{
    width: 100%;
    cursor: pointer;
}