* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#canvas-container {
    width: 100vw;
    height: 100vh;
}
.displayLabels{
    font-weight: bold;
}
#heat-or-cold{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: radial-gradient(circle at center, transparent 10%, rgba(0, 123, 255, 0.3), transparent 50%);
    opacity: 0;
}
.details-panel{
    z-index: 3;
    position:fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    padding: 20px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.time-controls-panel{
    z-index: 3;
    position:fixed;
    bottom: 100px;
    left: 41.5%;
    width: 300px;
    padding: 20px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.time-controls-panel button{
    height: 80px;
    width: 80px;
    border-radisu
}
.stats-group{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.checkbox-group label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.control-panel{
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.horizontalContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    min-width: 200px;
}
.horizontalContainer label{
    font-size: 14px;
}
.verticalContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 200px;
}
.verticalContainer label{
    font-size: 14px;
}
.slider{
    width: 100%;
    cursor: pointer;
}