* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
#canvas-container {
    width: 100vw;
    height: 100vh;
}
#heat-or-cold{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: radial-gradient(circle at center, transparent 10%, rgba(0, 123, 255, 0.3), transparent 50%);
    opacity: 0;
}
.details-panel{
    z-index: 3;
    position: fixed;
    color:white;
    display: flex;
    padding-top: 50px;
    top: 0;
    left: 0;
    margin-top: 50px;
    font-size: 12px;
    width: 10%;
    height: 50%;
    margin-left: 1%;
    background: rgb(18, 172, 255);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.control-panel{
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.horizontalContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    min-width: 200px;
}
.horizontalContainer label{
    font-size: 14px;
}
.verticalContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 200px;
}
.verticalContainer label{
    font-size: 14px;
}
.slider{
    width: 100%;
    cursor: pointer;
}